<div class="container-fluid searchSectionBackground">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 searchSection">
            <h1>TRAVEL TO EXPLORE</h1>
            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. Ultricies Mi Eget Mauris </p>
            <div class="row w-100 searchTool">
                <div class="col-lg-3 verticalDivider horizontalDivider">
                    <p>Where do You want to go?</p>
                        <mat-select class="datePickerField" [formControl]="tripLocations" multiple>
                          <mat-option *ngFor="let tripName of tripNames" [value]="tripName">{{tripName}}</mat-option>
                        </mat-select>
                </div>
                <div class="col-lg-3 verticalDivider horizontalDivider">
                    <p>Check-In</p>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <input [matDatepickerFilter]="checkInValidation" class="datePickerField" [(ngModel)]="checkInDate" matInput [matDatepicker]="picker1">
                </div>
                <div class="col-lg-3">
                    <p>Check-Out</p>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <input [matDatepickerFilter]="checkOutValidation" class="datePickerField" [(ngModel)]="checkOutDate" matInput [matDatepicker]="picker2">
                </div>
                <div class="col-lg-3">
                    <button class="exploreButton" (click)="listSearchResult()">Explore Now</button>
                </div>
            </div>
        </div>

    </div>
</div>