<div class="d-flex flex-column justify-content-center align-items-center">
    <h3>Add a new trip deal!</h3>

    <div class="container">
        <div class="row d-flex flex-column align-items-center justify-content-end">
            <div *ngIf="submitted" class="w-25 alert-success successAlert">
                <h4>Successful upload!</h4>
            </div>
            <div *ngIf="!submitted" class="d-flex flex-row w-75 justify-content-around">
                <div class="w-50">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <div class="form-group">
                            <label for="tripName">Trip's name</label>
                            <input type="text" class="form-control" id="tripName" name="tripName" maxlength="50" required ngModel>
                        </div>
                        <div class="form-group">
                            <label for="tripPrice">Price</label>
                            <input type="number" class="form-control" id="tripPrice" name="tripPrice" required ngModel max="1000000">
                        </div>
                        <div class="form-group">
                            <label for="tripDuration">Duration</label>
                            <input type="number" class="form-control" id="tripDuration" name="tripDuration" required ngModel>
                        </div>
                        <div class="form-group">
                            <label for="tripDescription">Description</label>
                            <textarea class="form-control" id="tripDescription" rows="3" name="tripDescription" required ngModel maxlength="250"></textarea>
                        </div>
                        <button type="submit" [disabled]="!f.valid || !tripImageFile" class="btn btn-primary">Upload</button>
                    </form>
                </div>
                <div>
                    <app-image-upload [formSubmitted]="submitted" (uploadedImageFile)="onImageUpload($event)" (uploadedImageBase64)="onImageByteUpload($event)"></app-image-upload>
                </div>
            </div>
        </div>
    </div>
</div>