<div class="d-flex flex-column align-items-center">
    <h3>This is the admin page, where you can add/edit/delete your trips!</h3>
    <div class="w-75 adminTable">
        <table mat-table [dataSource]="_trips$ | async" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let trip"> {{trip.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let trip"> {{trip.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let trip"> {{trip.price}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: _displayedColumns;"></tr>
        </table>
    </div>
</div>