h3 {
    padding: 80px 0;
}

h4 {
    padding: 20px;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
}

span {
    color: grey;
    font-weight: 600;
}

table {
    width: 100%;
    padding: 40px 0;
}

th {
    font-weight: 600;
    font-size: medium;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    color: red;
}

.adminTable {
    margin: auto;
}