<div class="d-flex flex-column align-items-center">
    <h3>This is the admin page, where you can add/edit/delete your trips!</h3>

    <div class="w-75 d-flex flex-row justify-content-between">
        <input type="text" [formControl]="searchFormControl" (keyup)="searchTripsByName($event)" placeholder="Search for trip name..." style="margin: 20px 0;">
        <button class="btn btn-success" [routerLink]='["add"]'>Add trip</button>
    </div>

    <div class="w-75 adminTable">
        <table mat-table [dataSource]="filteredTrips" class="mat-elevation-z8">
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let trip"> {{trip.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let trip"> {{trip.id}} </td>
            </ng-container>

            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let trip"> {{trip.price}} Ft </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="onRowClicked(row)" data-bs-toggle="modal" data-bs-target="#choiceModal" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div>
    <div class="modal fade" id="choiceModal" tabindex="-1" aria-labelledby="choiceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div *ngIf="clickedTrip$ | async" class="modal-header">
                    <h5 class="modal-title" id="choiceModalLabel">What to do with trip <span>"{{clickedTrip.name}}"</span> ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-row justify-content-evenly">
                    <button class="btn btn-warning" data-bs-dismiss="modal" (click)="onEdit($event)">Edit</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal" (click)="onDelete(clickedTrip.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>