<header>
    <nav>
        <div class="container-fluid zeropadding">
            <div class="row nav">
                <div class="col-lg-2 col-sm-2 mainLink zeropadding">
                    <img width="30px" height="30px" src="assets/globe.png" alt="">
                    <a class="traveloLink" href="#">Travelo</a>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="pages">
                        <a href="#" style="font-weight: 600;">Home</a>
                        <a href="#">About</a>
                        <a href="#">Places</a>
                        <a href="#">Careers</a>
                        <a href="#">Blog</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <app-login-menu></app-login-menu>
                </div>

                <div class="dropDown col-sm-2 zeropadding">
                    <img class="dropDownButton" alt="Dropdown button" src="https://img.icons8.com/material-outlined/32/000000/menu--v3.png" />
                    <div class="dropDown-content">
                        <a href="#" style="font-weight: 600;">Home</a>
                        <a href="#">About</a>
                        <a href="#">Places</a>
                        <a href="#">Careers</a>
                        <a href="#">Blog</a>
                        <a href="#" style="color: #4468E2; font-weight: bold;">Connect</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>